:root {
  --spacing: 25px;
  --spacing-md: 18px;
  --spacing-sm: 12px;
  --spacing-xs: 8px;
  --border-bottom-color: rgb(205, 199, 199);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.flex {
  display: flex;
}
.container {
  width: 100%;
  max-width: 1000px;
  margin: 30px auto;
  padding: var(--spacing);
}
.search-form {
  width: 50%;
  gap: 15px;
  align-items: center;
}
.content {
  gap: 35px;
  margin-top: var(--spacing);
}
.chart {
  width: 80%;
  margin-top: 30px;
}
.position h4 {
  margin-bottom: var(--spacing-sm);
}

.position_checkbox {
  row-gap: 10px;
  flex-direction: column;
}

/*=============================================
=          Responsiveness            =
=============================================*/

/*=============================================
=          Small Computer Devices           =
=============================================*/
@media (max-width: 1024px) {
  .chart {
    width: 70%;
  }
}
/*=====  End of Small Computer Devices ======*/

/*=============================================
=          Mobile Devices            =
=============================================*/
@media (max-width: 600px) {
  .content {
    flex-direction: column-reverse;
  }

  .chart {
    width: 100%;
  }
  .search-form {
    width: 100%;
  }
  .position_checkbox {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 10px;
  }
}
/*=====  End of Mobile Devices  ======*/
